.neofiles-image-compact {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 10px;
  vertical-align: top;
  padding: 3px;
  line-height: 1em;

  .popover-content {
    width: 250px;
  }
}
.neofiles-image-compact-with-description {
  margin-bottom: 40px;
  min-width: 100px;
  text-align: center;
}
.neofiles-image-compact-empty {
  width: 108px;
  height: 108px;
}
.neofiles-image-compact-upload-icon {
  position: absolute;
  box-sizing: border-box;
  bottom: -7px;
  left: 50%;
  margin-left: -7px;
  background-color: #fff;
  border-radius: 7px;
  opacity: .1;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .glyphicon {
    top: 0;
  }

  .neofiles-image-compact-empty & {
    position: static;
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    text-align: center;
    padding-top: 42px;
  }
}
.neofiles-image-compact-remove, .neofiles-image-compact-options {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  right: -10px;
  top: -10px;
  border-radius: 10px;
  text-align: center;
  background-color: #ee5f5b;
  box-shadow: 0px 2px 2px rgba(90, 50, 50, .5);
  opacity: .2;

  .glyphicon {
    top: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
  }

  &:hover {
    opacity: 1;
  }
}
.neofiles-image-compact-options {
  top: 12px;
  background-color: #fff;
}
INPUT.neofiles-image-compact-file {
  display: none !important;
}
.neofiles-image-compact-loading {
  opacity: .5;
  background: image-path('neofiles/loading.gif') no-repeat center center;

  .neofiles-image-compact-upload-icon,
  .neofiles-image-compact-remove,
  .neofiles-image-compact-options,
  .neofiles-image-compact-file {
    visibility: hidden;
  }
}
.neofiles-image-compact-description {
  position: absolute;
  bottom: -25px;
  width: 100%;
  font-size: 12px;
  margin-left: -4px;
  line-height: 14px;
  text-align: center;
}
.neofiles-image-compact-description-empty {
  color: #ccc !important;
  border-bottom-color: #ddd !important;
}
.neofiles-image-compact-description-handle {
  color: #333;
  border-bottom: 1px dotted #777;
  text-decoration: none !important;

  &:hover {
    border-bottom: 0;
    text-decoration: none !important;
  }
}
.popover.neofiles-image-compact-description-popover {
  width: 430px;
  height: 400px;
  max-width: none;

  .popover-content {
    width: 100%;
  }
}
.neofiles-image-compact-description-input {
  width: 400px;
  height: 250px;
}

.neofiles-album-compact {
  margin-bottom: 10px;
}
.neofiles-album-compact .neofiles-image-compact {
  margin-right: 20px;
  margin-bottom: 20px;

  &.neofiles-image-compact-with-description {
    margin-bottom: 50px;
  }
}