.neofiles-image-compact {
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    vertical-align: top;
    padding: 3px;
    line-height: 1em;
}
.neofiles-image-compact-empty {
    width: 100px;
    height: 100px;
}
.neofiles-image-compact-upload-icon {
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    background-color: #fff;
    border-radius: 7px;
    opacity: .4;
}
.neofiles-image-compact-empty .neofiles-image-compact-upload-icon {
    position: static;
    display: block;
    width: 100%;
    height: 57px;
    margin: 0;
    text-align: center;
    padding-top: 43px;
}
.neofiles-image-compact-upload-icon:hover {
    opacity: 1;
}
.neofiles-image-compact-remove {
    display: block;
    position: absolute;
    width: 20px;
    height: 18px; /* 20 - top padding */
    padding-top: 2px;
    right: -10px;
    top: -10px;
    border-radius: 10px;
    text-align: center;
    background-color: #ee5f5b;
    box-shadow: 0px 2px 2px rgba(90, 50, 50, .5);
}
INPUT.neofiles-image-compact-file {
    display: none !important;
}
.neofiles-image-compact-loading {
    opacity: .5;
    background: image-path(loading.gif) no-repeat center center;
}
.neofiles-image-compact-loading .neofiles-image-compact-upload-icon,
.neofiles-image-compact-loading .neofiles-image-compact-remove,
.neofiles-image-compact-loading .neofiles-image-compact-file {
    visibility: hidden;
}

.neofiles-album-compact {
    margin-bottom: 10px;
}
.neofiles-album-compact .neofiles-image-compact {
    margin-right: 20px;
    margin-bottom: 20px;
}
